<!DOCTYPE html>
<html>
    <head>
        <title>ImageGPT</title>
        
    </head>
    <body>
        <h1 class=>ImageGPT</h1>
        <h2 class=>Upload the image you want me to guess!</h2>

        <form class="p-3 text-center" action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
            <input class="form-control" type="file" name="imagefile">
            <input class="btn btn-primary mt-3" type="submit" value="Make me guess!">
        </form>

        {% if out_message %}
            <h5 class="text-center"> {{out_message}}</h5>
        {% endif %}
    </body>
</html>